body, html {
    height: 100%;
    margin: 0;
    background-color: #87CEEB; /* 하늘색 배경 */
    overflow: hidden;
}

#wave-effect {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, transparent 20%, skyblue 50%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-out; /* 물결 효과가 서서히 사라지도록 */
}

#follow-img {
    position: absolute;
    transition: transform 0.2s ease-out; /* 더 빠른 반응 시간 */
    display: none; /* 초기 상태는 숨김 */
}
