body, html {
    height: 100%;
    margin: 0;
    background-color: #87CEEB;
    overflow: hidden;
    position: relative;
}

#logo-img {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

#follow-img {
    position: absolute;
    transition: transform 0.2s ease-out;
}

#bottom-images {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: space-around;
    width: auto;
}

#bottom-images a {
    display: inline-block;
    text-align: center;
}

#bottom-images img {
    width: 100px;
    height: 100px;
    margin: 0 10px;