<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Puff</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="wave-effect"></div>
    <img id="follow-img" src="/static/puff/1.png" alt="Follow Me">
    <img id="logo-img" src="/static/logo.png" alt="Logo">


    <div id="bottom-images">
        <a href="https://twitter.com/puffonsolana" target="_blank"><img src="/static/twt.png" alt="Image 1"></a>
        <a href="https://t.me/puffinportal" target="_blank"><img src="/static/tele.png" alt="Image 2"></a>
        <a href="#link3" target="_blank"><img src="/static/pump.png" alt="Image 3"></a>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>